@import 'styles/fonts.scss';
@import 'styles/colors.scss';
@import 'styles/dimens.scss';

.container {
    display: flex;
    flex-direction: column;
}

.datePicker {
    color: $color-white;
    background-color: $color-abbey;
    font-size: 18px;
    font-family: $font-default;
    padding: 10px;
    border: none;
    border-radius: $border-radius;
    box-sizing: border-box;
    -webkit-appearance: none;

    &:focus,
    &:focus-visible {
        outline: none;
    }
}
