@import 'styles/colors.scss';
@import 'styles/screens.scss';

.container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    min-height: 100px;

    @media (max-width: $screen-medium) {
        width: 100%;
    }
}

.navigation {
    display: flex;
    justify-content: flex-start;
    align-items: last baseline;
    width: 100%;

    @media (max-width: $screen-small) {
        flex-direction: column;
        align-items: flex-start;
    }
}

.datePicker {
    margin-right: 20px;

    @media (max-width: $screen-small) {
        margin-bottom: 10px;
    }
}

.scrollContainer {
    margin-top: 10px;
    width: 100%;
    padding-bottom: 40px;
    text-align: center;
}

.loading,
.empty {
    padding: 20px 0;
    text-align: center;
}

.empty {
    & > * {
        margin-bottom: 15px;
    }
}

.button {
    width: 100%;
    max-width: 200px;
}
