@import 'styles/colors.scss';
@import 'styles/screens.scss';
@import 'styles/dimens.scss';

.container {
    display: flex;
    flex: auto 1 0;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
    margin: 10px 0;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: $border-radius;
    background-color: $color-abbey;

    @media (max-width: $screen-small) {
        min-width: auto;
        width: 100%;
    }

    &:hover {
        background-color: $color-brand;
    }
}

.interval {
    display: flex;
    font-size: 14px;

    @media (max-width: $screen-small) {
        flex-direction: column;
    }

    @media (max-width: $screen-xsmall) {
        font-size: 12px;
    }
}

.rightArrow {
    padding: 0 5px;

    @media (max-width: $screen-small) {
        display: none;
    }
}

.downArrow {
    display: none;

    @media (max-width: $screen-small) {
        display: block;
    }
}

.value {
    font-size: 18px;

    @media (max-width: $screen-small) {
        font-size: 16px;
    }

    @media (max-width: $screen-xsmall) {
        font-size: 14px;
    }
}
