@import 'styles/colors.scss';

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(100% + 40px); // remove side padding of content class in modal-dialog
    max-width: 700px;
    max-height: 850px;
    transform: translateX(-20px); // adjust position due to width property
}

.section {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;

    picture {
        display: flex;

        justify-content: center;
    }
}

.imageSection {
    @extend .section;
    padding: 0 20px;
}

.textSection {
    @extend .section;
    max-height: 400px;
    overflow-y: scroll;
}

.dList {
    display: grid;
    grid-template-columns: 1fr;
    line-height: 2.5;
    font-size: 80%;

    .dListItem {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 5px 20px;

        &:hover {
            cursor: pointer;
            background-color: $color-brand;
        }

        dt {
            max-width: 200px;
        }

        dd {
            text-align: right;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 200px;
            pointer-events: none;
        }
    }
}

.button {
    min-width: 200px;
}

.error {
    color: $color-red;
    padding-bottom: 40px;
    font-size: 16px;
}

.loader {
    padding-bottom: 40px;
}
