@import 'styles/colors.scss';
@import 'styles/screens.scss';

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 400px;
    width: 400px;
    max-width: 600px;

    @media (max-width: $screen-small) {
        min-width: 90%;
        width: 100%;
    }
}

.section {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;

    picture {
        display: flex;

        justify-content: center;
    }
}

.image {
    @extend .section;
    padding: 0 20px;
}

.info {
    width: calc(100% + 40px);
    height: 200px;
    overflow-y: scroll;
    flex-grow: 1;
}

.button {
    min-width: 200px;
}

.error {
    color: $color-red;
    padding-bottom: 40px;
    font-size: 16px;
}

.loader {
    padding-bottom: 40px;
}
