@import 'styles/colors.scss';
@import 'styles/dimens.scss';
@import 'styles/screens.scss';

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: $main-content-width / 2;
    width: 800px;
    max-width: $main-content-width;
    min-height: 250px;
    padding: 0;

    @media (max-width: $screen-medium) {
        min-width: $main-content-width / 2.5;
        width: 100%;
    }

    @media (max-width: $screen-small) {
        min-width: $main-content-width / 3;
    }
}

.loader {
    @extend .container;
    padding-bottom: 40px;
}

.section {
    padding-bottom: 20px;
    width: 100%;
}

.button {
    margin-top: 20px;
    text-align: center;
}

.error {
    display: flex;
    flex-direction: column;
    color: $color-red;
    padding-bottom: 40px;
    font-size: 16px;

    .message {
        text-align: center;
    }

    header {
        color: $color-alto;
        font-size: 14px;
        text-transform: uppercase;
        margin-top: 20px;
    }

    pre {
        max-width: 800px;
        color: $color-downy;
        white-space: pre-wrap;
        word-wrap: break-word;
        white-space: pre-line;
    }
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (max-width: $screen-small) {
        flex-direction: column;

        span {
            text-align: center;

            &:first-child {
                margin-bottom: 10px;
            }
        }
    }
}
