@import 'styles/colors.scss';
@import 'styles/dimens.scss';
@import 'styles/fonts.scss';

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 700px;
    max-height: 850px;
    padding-bottom: 20px;
    margin-bottom: 10px; // make the same space as modal-dialog
}

.back {
    padding: 20px;
    display: block;
    width: 91px;
    cursor: pointer;

    span {
        z-index: $z-index-modal + 1;
    }
}

.section {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
}

.imageSection {
    @extend .section;
    padding: 0 20px;
    display: flex;
    justify-content: center;

    picture {
        display: flex;
        justify-content: center;
        max-width: 200px; // TODO; need to check the max width
        align-self: center;
    }
}

.textSection {
    @extend .section;
    max-height: 400px;
    overflow-y: scroll;

    .dList {
        display: grid;
        grid-template-columns: 1fr;

        .dListItem {
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding: 5px 20px;

            &:hover {
                cursor: pointer;
                background-color: $color-brand;
            }

            dt,
            dd {
                max-width: 200px;
            }

            dd {
                text-align: right;
                overflow: hidden;
                text-overflow: ellipsis;
                pointer-events: none;
            }
        }
    }
}

.buttonWrapper {
    width: 70%;
    margin: 0 auto;

    button {
        width: 100%;
    }
}

.error {
    color: $color-red;
    padding-bottom: 40px;
    font-size: 16px;
}

.loader {
    padding-bottom: 40px;
}
