@import 'styles/colors.scss';

.this {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    bottom: 0;
    left: 0;
    right: 0;
    min-height: 60px;
    padding: 10px 0;
    background-color: $color-ebony-clay;
}
