@import 'styles/colors.scss';
@import 'styles/dimens.scss';
@import 'styles/screens.scss';
@import 'styles/fonts.scss';

.this {
    border-radius: $button-border-radius;
    border: none;
    cursor: pointer;
    font-size: 14px;
    text-transform: uppercase;
    color: $color-white;
    transition: opacity 0.2s;
    font-family: $font-default;
    -webkit-tap-highlight-color: transparent;

    @media (hover: hover) {
        &:hover {
            opacity: 0.9;
        }
    }

    i {
        font-size: 22px;
    }
}

.default {
    background-color: $color-brand;
    border-color: $color-brand;

    &.disabled {
        color: $color-nomad;
        background-color: $color-abbey;
        cursor: default;
    }
}

.outline {
    background-color: transparent;
    border: 1px solid $color-white;
    font-size: 13px;
    text-transform: none;

    &.disabled {
        border-color: $color-nomad;
        color: $color-nomad;
        cursor: default;
    }
}

.outlineAlert {
    @extend .outline;
    color: $color-red;
    border: 1px solid $color-red;
}

.outline:hover:not(.disabled),
.outline:active:not(.disabled) {
    background-color: $color-white;
    color: $color-abbey;
    opacity: 1;
}

.big {
    min-height: 44px;
    padding: 0 20px;
}

.small {
    padding: 8px 20px;
    font-size: 12px;

    i {
        font-size: 15px;
        font-weight: bold;
    }
}
