@import 'styles/colors.scss';
@import 'styles/dimens.scss';
@import 'styles/screens.scss';

.this {
    padding: 15px 20px;
    min-height: 55px;
    border-radius: $button-border-radius;
    border: none;
    cursor: pointer;
    font-size: 14px;
    text-transform: uppercase;
    color: $color-white;
    transition: opacity 0.2s;
    background-color: $color-brand;

    @media (hover: hover) {
        &:hover {
            opacity: 0.9;
        }
    }

    &.disabled {
        color: $color-nomad;
        background-color: $color-abbey;
        cursor: default;
    }
}
