@import 'styles/colors.scss';
@import 'styles/dimens.scss';
@import 'styles/screens.scss';

.this {
    padding: 15px 20px;
    min-height: 55px;
    border-radius: $button-border-radius;
    border: none;
    cursor: pointer;
    font-size: 14px;
    text-transform: uppercase;
    color: $color-white;
    transition: opacity 0.2s;
    font-family: 'Saira', sans-serif;

    @media (hover: hover) {
        &:hover {
            opacity: 0.9;
        }
    }

    &.disabled {
        color: $color-nomad;
        background-color: $color-abbey;
        cursor: default;
    }

    i {
        font-size: 22px;
    }
}

.default {
    background-color: $color-brand;
    border-color: $color-brand;
}

.outline {
    background-color: transparent;
    border: 1px solid $color-white;
    font-size: 13px;
    text-transform: none;
    min-height: auto;
    padding: 10px 20px;
}

.outlineAlert {
    @extend .outline;
    color: $color-red;
    border: 1px solid $color-red;
}

.outline:hover,
.outline:active {
    background-color: $color-white;
    color: $color-abbey;
    opacity: 1;
}
