@import 'styles/colors.scss';
@import 'styles/dimens.scss';
@import 'styles/fonts.scss';

.selector {
    color: $color-white;
    background-color: $color-tundora;
    font-size: 18px;
    font-family: $font-default;
    padding: 8px 5px;
    margin-top: 5px;
    width: 100%;
    border-radius: $border-radius;

    &:focus,
    &:focus-visible {
        outline: none;
    }
}
