@import 'styles/colors.scss';
@import 'styles/dimens.scss';
@import 'styles/screens.scss';
@import 'styles/fonts.scss';

.this {
    position: relative;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    color: $color-mine-shaft;

    @media (hover: hover) {
        &:hover {
            .tooltip {
                opacity: 1;
            }
        }
    }

    i {
        color: $color-white;
        font-size: 18px;
    }
}

.default {
    background-color: $color-brand;
    border-color: $color-brand;

    &.disabled {
        color: $color-nomad;
        background-color: $color-abbey;
        cursor: default;
    }
}

.outline {
    background-color: transparent;
    border: 1px solid $color-white;
    text-transform: none;

    &.disabled {
        border-color: $color-nomad;
        color: $color-nomad;
        cursor: default;
    }
}

.outline:hover:not(.disabled),
.outline:active:not(.disabled) {
    background-color: $color-white;
    i {
        color: $color-abbey;
    }

    .tooltip {
        transition-delay: 0.3s;
    }
}

.tooltip {
    opacity: 0;
    position: absolute;
    top: 50px;
    left: 0;
    padding: 5px 10px;
    font-family: $font-default;
    border-radius: $border-radius;
    background-color: $color-white;
    white-space: nowrap;
}
