@import 'styles/colors.scss';
@import 'styles/dimens.scss';
@import 'styles/mixins.scss';
@import 'styles/screens.scss';

.container {
    position: relative;
    width: 100%;
    border-radius: $dialog-border-radius;
    @include no-user-select();
}

.empty {
    padding: 15px 0;
    font-size: 16px;
    color: $color-ebony-clay;
    text-align: center;

    i {
        font-size: 60px;
    }
}

.desktop {
    display: block;

    @media (max-width: $screen-small) {
        display: none;
    }
}

.mobile {
    display: none;

    @media (max-width: $screen-small) {
        display: block;
    }
}

.subLabel {
    font-size: 14px;
    margin-top: 5px;

    @media (max-width: $screen-small) {
        display: none;
    }
}

.emptyBorder {
    display: block;
    padding: 40px;
    border: 2px dashed $color-mine-shaft;
    border-radius: $border-radius;
    transition: $quick-transition;
    transition-delay: 0.1s;

    @media (hover: hover) {
        &:hover {
            background-color: $color-abbey;
            color: $color-white;
        }
    }
}

.dropZone {
    opacity: 0;
    background-color: $color-overlay-dark;

    i {
        color: $color-white;
        font-size: 80px;
    }
}

.activeZone {
    @media (hover: hover) {
        &:hover {
            opacity: 1;
        }
    }
}

.visible {
    opacity: 1;
    background-color: $color-overlay-dark;
    border: 5px solid $color-downy;
    transition: $quick-transition;
    transition-delay: 0.1s;
}

.active {
    .drop-zone {
        opacity: 1;
    }
    .active-zone {
        opacity: 0;
    }
    .empty-border {
        background-color: $color-abbey;
        color: $color-white;
    }
}

.overlay {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    box-sizing: border-box;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: $color-overlay-dark;
    border: 5px solid $color-overlay-dark;
    transition: $quick-transition;
    transition-delay: 0.1s;
}

.fileInput {
    display: none;
    height: 0;
}
