@import 'styles/colors.scss';
@import 'styles/screens.scss';
@import 'styles/dimens.scss';

.wrapper {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 20%;
    min-width: 288px;
    right: 2.2em;
    top: 4.8em;
    bottom: 10px;
    background-color: $color-tundora;

    border-radius: $button-border-radius;
    z-index: $z-index-navbar;

    .listContainer {
        overflow-y: auto;
        max-height: 60vh;

        @media (max-width: $screen-small) {
            width: 100%;
            height: 100%;
            right: 0;
        }
    }

    ul {
        border-bottom: 1px solid $color-emperor;

        &.actions {
            margin: 10px 0;
            font-size: 14px;

            li:last-child {
                margin-bottom: 10px;
            }
        }

        li {
            width: 100%;
            color: $color-white;
            display: flex;
            justify-content: space-between;
            line-height: 3;
            padding: 0 15px;
            cursor: pointer;
            text-transform: uppercase;

            &.accent {
                color: $color-accent;
            }

            &.border {
                border-bottom: 1px solid $color-emperor;
            }

            &.darker {
                color: $color-nomad;
            }

            &.static:hover,
            &.static:focus {
                background-color: transparent;
                cursor: inherit;
            }

            &:hover,
            &:focus {
                background-color: $color-brand;
            }
        }
    }

    @media (max-width: $screen-small) {
        width: 100%;
        right: 0;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 3.5;
    padding: 0 15px;
    color: $color-nomad;
    border-bottom: 1px solid $color-emperor;

    i {
        font-weight: bold;
        color: $color-white;
    }

    h2 {
        font-size: 1em;
    }
}

.close {
    cursor: pointer;

    @media (max-width: $screen-small) {
        display: none;
    }
}

.secondary {
    border: 1px solid $color-white;
    padding: 8px 20px;
    border-radius: 14px;
    display: block;
    margin: 1.5em auto;
}
