@import 'styles/colors.scss';
@import 'styles/screens.scss';
@import 'styles/dimens.scss';

.wrapper {
    position: absolute;
    width: 20%;
    min-width: 288px;
    right: 2.2em;
    top: 4.8em; 
    background-color: $color-abbey;   
    
    border-radius: $button-border-radius;
    // color: $color-white;
    z-index: 16;

    ul { 
        list-style: none;
        

        li { width: 100%; 
            color: $color-white; 
            display: flex; 
            justify-content:  space-between;
            line-height: 3;
            padding: 0 15px;
            cursor: pointer;
        }

        li:first-child {
            
            border-bottom: 1px solid $color-nomad;
        }

        li:nth-child(2) {
            color: $color-nomad;
        }

        li:last-child {
            border-bottom: 1px solid $color-nomad;
        }
        

        li:hover, li:focus { background-color: $color-brand; }
    }
    

    @media (max-width: $screen-small) {
        width: 100%;
        height: 90vh;
        right: 0;
    }
    
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 3.5;
    padding: 0 15px;
    color: $color-nomad;
    border-bottom: 1px solid $color-nomad;

    i { font-weight: bold; color: $color-white;}
    h2 { font-size: 1em; }
}

.close { cursor: pointer;

    @media (max-width: $screen-small) {
        display: none;
    }
    
}

.accent{
    color: $color-accent;
    text-transform: uppercase;
    font-size: 16px;
    margin-left: 0;
}

.secondary {

    border: 1px solid $color-white;
    background-color: $color-mine-shaft;
    padding: 8px 20px;
    border-radius: 14px;
    display: block;
    margin: 1.5em auto;

    // @media (max-width: $screen-small) {
    //     position: absolute;
    //     bottom: 5%;
    //     left: 30%;
    // }

}