@import 'styles/colors.scss';
@import 'styles/screens.scss';

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    min-width: 500px;

    @media (max-width: $screen-midi) {
        min-width: 400px;
    }

    @media (max-width: $screen-small) {
        min-width: 0;
        width: 100%;
    }
}

.section {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
}

.button {
    min-width: 200px;
}

.error {
    color: $color-red;
    padding-top: 40px;
    font-size: 16px;
}
