@import 'styles/colors.scss';
@import 'styles/screens.scss';
@import 'styles/dimens.scss';

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    min-width: 400px;
}

.message {
    padding: 0 10px 30px;
}

.info {
    padding: 5px 10px;
    background-color: $color-abbey;
    border-radius: $dialog-border-radius;
    font-size: 14px;
}

.action {
    width: 100%;
    margin-top: 50px;

    button {
        width: 100%;
    }
}
