@import 'styles/colors.scss';
@import 'styles/screens.scss';
@import 'styles/dimens.scss';

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 400px;
    width: 450px; // without this property, an error message makes the modal wider when it is rendered
    max-width: 600px;

    @media (max-width: $screen-small) {
        min-width: 90%;
        width: 100%;
    }
}

.error {
    width: 100%;
    padding: 20px;
    color: $color-red;
}

.image {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 20px 0;

    picture {
        display: flex;
        justify-content: center;
        max-width: 150px; // TODO; need to check the max width
        align-self: center;
    }
}

.info {
    width: calc(100% + 40px); // remove side padding of content class in modal-dialog
    height: 200px;
    overflow-y: scroll;
    flex-grow: 1;
}

.buttonWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;

    .button {
        min-width: 200px;
    }
}

.accordion {
    height: 0;
}
