@import 'styles/colors.scss';
@import 'styles/screens.scss';
@import 'styles/dimens.scss';

.top {
    display: flex;
    align-items: center;
    margin-left: 30px;
    list-style: none;

    .button {
        @media (max-width: $screen-small) {
            display: none;
        }
    }

    .default {
        background-color: $color-abbey;
    }

    [class^='icon-'],
    [class*=' icon-'] {
        font-size: 24px;
    }
}

.toggle_menu {
    display: none;

    @media (max-width: $screen-small) {
        display: block;
    }
}

.button {
    border-radius: $button-border-radius;
    background-color: $color-brand;
    color: $color-white;
    font-size: 16px;
    padding: 10px 20px;
    display: block;
    text-decoration: none;

    @media (hover: hover) {
        &:hover {
            text-decoration: none;
            opacity: 0.9;
        }
    }
}
