@import 'styles/colors.scss';
@import 'styles/screens.scss';
@import 'styles/dimens.scss';

.top {
    display: flex;
    align-items: center;
    margin-left: 30px;
    list-style: none;

    // li {
    //     @media (hover: hover) {
    //         &:hover {
    //             opacity: 0.9;
    //         }
    //     }
    // }
    
    .brand {
        background-color: $color-brand;

        @media (max-width: $screen-small) {
            display: none;
        }
    }
    
    .default {
        background-color: $color-abbey;
    }

    [class^=icon-], [class*=" icon-"] {
        font-size: 24px;
    }
    
}

.toggle_menu {
    display: none;

    @media (max-width: $screen-small) {
        display: block;
    }
}
