@import 'styles/colors.scss';
@import 'styles/dimens.scss';
@import 'styles/screens.scss';

.container {
    position: relative;

    img {
        padding: 10px;
        width: 360px;
        height: auto;
    }

    @media (max-width: $screen-small) {
        width: 100%;
        height: auto;
    }
}

.name {
    margin-bottom: 20px;
    font-size: 12px;
    text-transform: uppercase;
}

.image {
    align-items: center;
}

.trackerImage img {
    width: 200px;
}

.section {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;

    @media (max-width: $screen-small) {
        padding: 0 10px;
    }
}

.content {
    padding: 10px;
    background-color: $color-abbey;
    border-radius: $border-radius;
    color: $color-nomad;
    font-size: 16px;
    cursor: default;

    a {
        color: $color-nomad;
    }
}

.error {
    color: $color-red;
    padding: 0 20px 20px;
    font-size: 16px;
}

.buttonContainer {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    text-align: center;
    & > * {
        margin: 2px 5px;
    }
}

.button {
    min-width: 150px;
}

.iconLabel {
    display: flex;
    align-items: baseline;

    .icon {
        margin-left: 5px;
    }
}
