@import 'styles/screens.scss';
@import 'styles/colors.scss';

:export {
    screenMedium: $screen-medium;
}

.loading {
    margin-top: 50px;
}

.error {
    max-width: 800px;
    margin: 40px auto;
    text-align: center;
    color: $color-red;
}
