@import 'styles/colors.scss';
@import 'styles/dimens.scss';
@import 'styles/screens.scss';

.container {
    position: relative;

    img {
        padding: 10px;
        width: 150px;
        height: auto;
    }

    @media (max-width: $screen-small) {
        width: 100%;
        height: auto;
    }
}

.section {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;

    @media (max-width: $screen-small) {
        padding: 0 10px;
    }
}

.content {
    padding: 10px;
    background-color: $color-abbey;
    border-radius: $border-radius;
    color: $color-nomad;
    font-size: 16px;
    cursor: default;

    a {
        color: $color-nomad;
    }
}

.image {
    align-items: center;
}

.iconLabel {
    display: flex;
    align-items: baseline;

    .icon {
        margin-left: 5px;
    }
}

.subLabel {
    padding: 0 5px;
    font-size: 12px;
}

.error {
    padding: 10px 0;
    color: $color-red;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;

    @media (max-width: $screen-small) {
        flex-direction: column;
    }
}

.button {
    width: 100%;
    max-width: 200px;
    margin: 10px;
}

.separator {
    height: 1px;
    margin: 20px 0;
    height: 1px;
    border: 0;
    background-color: $color-abbey;
}

.notice {
    padding: 10px;
    border-radius: $border-radius;
    border: 1px solid $color-abbey;
    font-size: 14px;
    box-sizing: content-box;

    a {
        color: $color-accent;
    }
}
