@import 'styles/colors.scss';
@import 'styles/screens.scss';

.container {
    width: 700px;
    min-height: 300px;

    @media (max-width: $screen-medium) {
        width: 100%;
    }
}

.scrollContainer {
    padding-bottom: 40px;
    text-align: center;
}

.loading,
.empty {
    padding: 20px 0;
    min-width: 600px;
    text-align: center;
}
