@import 'styles/colors.scss';
@import 'styles/dimens.scss';
@import 'styles/screens.scss';

.container {
    position: relative;

    img {
        padding: 10px;
        width: 200px;
        height: auto;
    }

    @media (max-width: $screen-small) {
        width: 100%;
        height: auto;
    }
}

.section {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;

    @media (max-width: $screen-small) {
        padding: 0 10px;
    }
}

.content {
    padding: 10px;
    background-color: $color-abbey;
    border-radius: $border-radius;
    color: $color-nomad;
    font-size: 16px;
    cursor: default;

    a {
        color: $color-nomad;
    }
}

.image {
    align-items: center;
}

.iconLabel {
    display: flex;
    align-items: baseline;

    .icon {
        margin-left: 5px;
    }
}

.subLabel {
    padding: 0 5px;
    font-size: 12px;
}

.error {
    padding: 10px 0;
    color: $color-red;
}
