@import 'styles/colors.scss';
@import 'styles/screens.scss';
@import 'styles/mixins.scss';

.container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    min-height: 100px;
    @include no-user-select();

    @media (max-width: $screen-medium) {
        width: 100%;
    }
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;

    @media (max-width: $screen-medium) {
        align-items: flex-start;
    }

    @media (max-width: $screen-small) {
        flex-direction: column;
        align-items: center;
    }

    .buttons {
        flex: 1 0 0;
        display: flex;
        align-items: center;

        @media (max-width: $screen-medium) {
            flex-direction: column;
        }
    }

    .button {
        margin: 0 5px;
        text-align: center;

        @media (max-width: $screen-medium) {
            margin: 5px 0;
        }
    }
}

.datePicker {
    margin-right: 20px;

    @media (max-width: $screen-small) {
        margin-bottom: 10px;
    }
}

.scrollContainer {
    margin-top: 10px;
    width: 100%;
    padding-bottom: 40px;
    text-align: center;
}

.loading,
.empty {
    padding: 20px 0;
    text-align: center;
}

.empty {
    & > * {
        margin-bottom: 15px;
    }
}

.button {
    width: 100%;
    max-width: 200px;
}
