@import 'styles/colors.scss';
@import 'styles/screens.scss';
@import 'styles/mixins.scss';
@import 'styles/dimens.scss';

.container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    min-height: 100px;
    @include no-user-select();

    @media (max-width: $screen-medium) {
        width: 100%;
    }
}

.navigation {
    width: 100%;
    position: sticky;
    top: -1px;
    background-color: $color-ebony-clay;
    padding-bottom: 20px;
    z-index: $z-index-navbar;

    @media (max-width: $screen-medium) {
        align-items: flex-start;
    }

    .controls {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        width: 100%;

        @media (max-width: $screen-xsmall) {
            flex-direction: column;
            align-items: start;
        }
    }

    .buttons {
        flex: 1 0 0;
        display: flex;
        align-items: flex-end;

        @media (max-width: $screen-midi) {
            flex-direction: column;
        }
    }

    .button {
        margin: 0 5px;
        text-align: center;

        @media (max-width: $screen-midi) {
            margin: 5px 0;
        }
    }
}

.datePicker {
    margin-right: 20px;

    @media (max-width: $screen-small) {
        margin-bottom: 10px;
    }
}

.scrollContainer {
    margin-top: 10px;
    width: 100%;
    padding-bottom: 40px;
    text-align: center;
}

.loading,
.empty {
    padding: 20px 0;
    text-align: center;
}

.empty {
    & > * {
        margin-bottom: 15px;
    }
}

.button {
    width: 100%;
    max-width: 200px;
}

.error {
    padding-top: 10px;
    color: $color-red;
}
