@import 'styles/colors.scss';
@import 'styles/dimens.scss';
@import 'styles/screens.scss';

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    width: 500px;

    @media (max-width: $screen-small) {
        width: 100%;
    }
}

.header {
    padding-bottom: 20px;
}

.section {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
}

.address {
    padding: 10px;
    background-color: $color-abbey;
    border-radius: $border-radius;
    color: $color-nomad;
    font-family: monospace;
    font-size: 16px;
    cursor: default;
}

.button {
    min-width: 200px;
}

.error {
    color: $color-red;
    padding-top: 40px;
    font-size: 16px;
}
