@import 'styles/colors.scss';

.container {
    width: 640px;
    min-height: 300px;
}

.scrollContainer {
    padding-bottom: 40px;
    text-align: center;
}

.loading {
    padding: 10px 0;
    min-width: 600px;
}

.error {
    color: $color-red;
}
