@import 'styles/colors.scss';
@import 'styles/dimens.scss';
@import 'styles/screens.scss';

.container {
    position: relative;
    margin-bottom: 50px;

    @media (max-width: $screen-small) {
        width: 100%;
    }
}

.name {
    margin-bottom: 20px;
    font-size: 12px;
    text-transform: uppercase;
}

.section {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
}

.content {
    padding: 10px;
    background-color: $color-abbey;
    border-radius: $border-radius;
    color: $color-nomad;
    font-size: 16px;
    cursor: default;

    a {
        color: $color-nomad;
    }
}

.error {
    color: $color-red;
    padding-top: 40px;
    font-size: 16px;
}

.button {
    min-width: 200px;
}
