@import 'styles/colors.scss';
@import 'styles/screens.scss';
@import 'styles/dimens.scss';

.main {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 10px;
    left: 10px;
    right: 10px;
    z-index: $z-index-modal;

    &.narrow {
        top: 10px;
    }
}

.content {
    position: relative;
    padding: 20px;
    background-color: $color-ebony-clay;
    border-radius: $border-radius;

    @media (max-width: $screen-small) {
        padding: 10px;
        width: 100%;
    }

    &.narrow {
        max-width: 600px;
        width: 100%;
    }

    &:not(.narrow) {
        @media (max-width: $screen-small) {
            font-size: 15px;
        }
    }

    header {
        padding-bottom: 10px;
        text-align: end;

        @media (max-width: $screen-small) {
            padding-bottom: 0;
        }
    }
}

.body {
    min-width: $screen-small;

    @media (max-width: $screen-midi) {
        min-width: 0;
        width: 100%;
    }
}

.close {
    cursor: pointer;
}

.button {
    min-width: 200px;
}

.error {
    padding: 20px;
    color: $color-red;
}
