@import 'styles/colors.scss';
@import 'styles/dimens.scss';

.container {
    position: relative;
    max-width: 400px;
    padding-bottom: 50px;
}

.name {
    margin-bottom: 20px;
    font-size: 12px;
    text-transform: uppercase;
}

.section {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
}

.content {
    padding: 10px;
    background-color: $color-abbey;
    border-radius: $border-radius;
    color: $color-nomad;
    font-size: 16px;
    cursor: default;

    a {
        color: $color-nomad;
    }
}

.error {
    color: $color-red;
    padding-top: 40px;
    font-size: 16px;
}

.actionBar {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: $color-ebony-clay;
}
