$color-black: #000;
$color-white: #fff;
$color-black-60: #0009;
$color-mine-shaft: #242424;
$color-alto: #e0e0e0;
$color-ebony-clay: #242a34;
$color-abbey: #505358;
$color-brand: #0b7285;
$color-downy: #66c0d1;
$color-nomad: #beb5a6;
$color-red: #d24a38;
$color-overlay-dark: rgba(25, 25, 25, 0.7);
