$main-content-width: 1000px;
$z-index-top-menu: 5;
$z-index-navbar: $z-index-top-menu + 1;
$z-index-modal: $z-index-navbar + 1;
$z-index-drop-down-menu: $z-index-modal + 1;
$button-border-radius: 22px;
$dialog-border-radius: 8px;
$border-radius: 4px;
$box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
$quick-transition: 0.1s all ease;
$quick-transition-delay: 0.25s;
$action-bar-height: 80px;
