$main-content-width: 1000px;
$z-index-top-menu: 6;
$z-index-navbar: $z-index-top-menu + 1;
$z-index-modal: $z-index-navbar + 1;
$button-border-radius: 22px;
$dialog-border-radius: 8px;
$border-radius: 4px;
$quick-transition: 0.1s all ease;
