@import 'colors.scss';
@import 'icons.scss';
@import 'fonts.scss';
@import 'dimens.scss';
@import 'screens.scss';

html,
body {
    padding: 0;
    margin: 0;
    font-family: $font-default;
    line-height: 1.6;
    // font-size: 18px;
    background-color: $color-mine-shaft;
    color: $color-alto;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: $color-alto;
    text-decoration: none;
}

@media (hover: hover) {
    a:hover {
        text-decoration: underline;
    }
}

img {
    max-width: 100%;
    display: block;
}

nav button, .btn {
        padding: 15px 20px;
        margin-left: 10px;
        border-radius: $button-border-radius;
        cursor: pointer;
        font-size: 14px;
        //text-transform: uppercase;
        color: $color-white;
        transition: opacity 0.2s;
        border: none;
        background-color: transparent;
        font-family: 'Saira', sans-serif;
}

nav button:hover, .btn:hover,
nav button:focus, .btn:focus {
    opacity: 0.9;
}

