@font-face {
    font-family: 'terragrids';
    src: url('/fonts/terragrids.eot?q7qokf');
    src: url('/fonts/terragrids.eot?q7qokf#iefix') format('embedded-opentype'),
        url('/fonts/terragrids.ttf?q7qokf') format('truetype'), url('/fonts/terragrids.woff?q7qokf') format('woff'),
        url('/fonts/terragrids.svg?q7qokf#terragrids') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'terragrids' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-discord:before {
    content: '\e902';
}
.icon-twitter:before {
    content: '\e901';
}
.icon-github:before {
    content: '\e900';
}
.icon-pencil:before {
    content: '\e60d';
}
.icon-bin:before {
    content: '\e681';
}
.icon-archive:before {
    content: '\e6ac';
}
.icon-copy:before {
    content: '\e6b8';
}
.icon-document:before {
    content: '\e6d8';
}
.icon-chart-growth:before {
    content: '\e7fb';
}
.icon-menu:before {
    content: '\e92b';
}
.icon-check:before {
    content: '\e934';
}
.icon-cross:before {
    content: '\e935';
}
.icon-plus:before {
    content: '\e936';
}
.icon-chevron-right-circle:before {
    content: '\e965';
}
.icon-ellipsis:before {
    content: '\e9e9';
}
