@import 'styles/colors.scss';
@import 'styles/screens.scss';
@import 'styles/dimens.scss';

.container {
    display: flex;
    flex: auto 1 0;
    align-content: center;
    justify-content: flex-start;
    padding: 10px;
    box-sizing: border-box;
    height: 100px;
    width: 600px;
    margin: 10px 0;
    overflow: hidden;
    cursor: pointer;
    border-radius: $border-radius;

    @media (max-width: $screen-small) {
        min-width: auto;
        width: 100%;
    }

    &:hover {
        background-color: $color-brand;
    }

    & > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.imageContainer {
    flex: 0 0 80px;
    position: relative;
    border-radius: $border-radius;

    .image {
        display: block;
        width: 80px;
        height: auto;
        position: relative;
        border-radius: $border-radius;
    }
}

.name {
    flex: 0 0 200px;
    padding: 20px;
    overflow: hidden;
    text-align: start;

    & > div {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.holder {
    text-align: right;
    flex: 1 0 80px;
}
