@import 'styles/colors.scss';

.listContainer {
    min-width: 600px;
    min-height: 300px;
}

.detailContainer {
    min-width: 600px;
    min-height: 300px;
}

.scrollContainer {
    padding: 20px 0;
    text-align: center;
}

.loading {
    padding: 40px 0 20px;
    min-width: 600px;
}

.empty {
    text-align: center;
    padding: 40px 0 20px;
}

.error {
    padding: 40px 0;
    text-align: center;
    color: $color-red;
}
