@import 'styles/colors.scss';
@import 'styles/screens.scss';
@import 'styles/dimens.scss';

.container {
    display: flex;
    flex: auto 1 0;
    align-content: center;
    justify-content: flex-start;
    padding: 10px;
    box-sizing: border-box;
    height: 150px;
    margin: 10px 0;
    overflow: hidden;
    cursor: pointer;
    border-radius: $border-radius;
    font-size: 18px;

    &:hover {
        background-color: $color-brand;
    }

    & > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.imageContainer {
    flex: 0 0 120px;
    position: relative;
    border-radius: $border-radius;

    .image {
        display: block;
        width: 120px;
        height: auto;
        position: relative;
        border-radius: $border-radius;
    }
}

.name {
    flex: 1 1 auto;
    padding: 20px;
    overflow: hidden;
    text-align: start;

    & > div {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
