@import 'styles/colors.scss';
@import 'styles/screens.scss';

.listContainer,
.detailContainer {
    min-width: 600px;
    min-height: 300px;

    @media (max-width: $screen-small) {
        width: 100%;
        min-width: auto;
    }
}

.listContainer {
    @media (max-width: $screen-small) {
        padding: 0 15px;
    }
}

.selectors {
    display: flex;
    justify-content: space-between;

    & > * {
        flex: 1 1 0;

        &:first-child {
            margin-right: 10px;
        }
    }
}

.scrollContainer {
    padding: 20px 0;
    text-align: center;
}

.loading {
    padding: 40px 0 20px;
    min-width: 600px;
}

.empty {
    text-align: center;
    padding: 40px 0 20px;
}

.error {
    padding: 40px 0;
    text-align: center;
    color: $color-red;
}
