@import 'styles/colors.scss';
@import 'styles/screens.scss';
@import 'styles/dimens.scss';

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    margin: 10px 0;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: $border-radius;
    background-color: $color-abbey;

    @media (max-width: $screen-small) {
        min-width: auto;
        width: 100%;
    }

    &:hover {
        background-color: $color-cape-cod;
    }

    &.selected {
        background-color: $color-brand;
    }
}

.top {
    display: flex;
    flex: auto 1 0;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;
}

.bottom {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 20px;
}

.leftContainer {
    display: flex;
    justify-content: flex-start;

    & > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
}

.value {
    flex: 0 0 300px;
    overflow: hidden;
    text-align: start;

    & > div {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.label {
    font-size: 12px;
    text-transform: uppercase;
}

.type {
    display: inline;
    padding: 2px 5px;
    margin-top: 5px;
    font-size: 9px;
    text-transform: uppercase;
    text-align: center;
    border: 1px solid $color-white;
    border-radius: $border-radius;
}

.date {
    font-size: 14px;
}
