@import 'styles/dimens.scss';
@import 'styles/colors.scss';
@import 'styles/screens.scss';

.container {
    width: 400px;

    @media (max-width: $screen-small) {
        width: 100%;
    }

    @media (max-width: $screen-small) {
        max-width: 95vw;
        max-height: 95vh;
    }

    ul {
        list-style: none;
    }

    li {
        display: flex;
        align-items: center;
        padding: 15px;
        border-radius: $button-border-radius;
        cursor: pointer;

        @media (hover: hover) {
            &:hover {
                background-color: $color-brand;
            }
        }

        svg {
            flex: 0 0 auto;
        }

        .text {
            margin-left: 15px;
        }
    }

    .disabled {
        opacity: 0.6;
    }

    .loading {
        padding-bottom: 20px;
    }

    .error {
        padding-top: 20px;
        font-size: 16px;
        color: $color-downy;
    }
}
